body {
    /* background-image: url("background.jpg"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.141);
    background: linear-gradient(to bottom, #ffcc00, #ff6600)
}