body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.141);
    background: linear-gradient(to bottom, #a401018f, #19770184, #00007988)
}

h1 {
    
    font-size: 60px;
    color: black
}

h2 {
    color:black
}
